.authentication-container {
  display: flex;
  width: 900px;
  margin: 30px auto;
  justify-content: space-between;
  // align-items: baseline;
  
  // .sign-in-container, .sign-up-container {
  //   margin: 25px 35px;
  // }
}
